
* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(125, 191, 83);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    padding: 20px;
    margin: 0;
}

p {
    margin: 0 !important;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: .4em;
}

.headLine {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

fieldset {
    border: solid 1px #fff;
}

.card {
    margin-bottom: 1em;
}

.card::before, .card::after {
    display: block;
    content: "";
}

.card > .content {
    background-color: rgba(255, 255, 255, .3);
    color: #FFF;
    text-shadow: #222222;
    padding: 0 1em;
}

.card > .content.flex {
    display: flex;
    justify-content: space-between;
}

.card::before {
    border-left: solid 1em transparent;
    border-bottom: solid 1em rgba(255, 255, 255, .3);
}

.card::after {
    border-right: solid 1em transparent;
    border-top: solid 1em rgba(255, 255, 255, .3);
}

.grouping, .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group {
    margin: 0 .4em;
    flex-grow: 2;
}

.home.grouping {
    width: calc(100% - 8em);
}

.group > label {
    display: block;
    background-color: #fff;
    color: rgba(0, 0, 0, .6);
    border-left: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    height: 23px;
    font-size: .8em;
    padding: .3em .2em 0;
}

input, select, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex: 2 0 0;
    color: rebeccapurple;
    background-color: #fff;
    border: solid 1px lightgrey;
    height: 23px;
    display: block;
    margin: 0;
    transition: .4s;
}

input, select {
    width: 100%;
    margin-bottom: .5em;
}

.home input, select {
    margin-bottom: 0;
}

button {
    max-width: 8em;
}

input[type="number"] {
    width: 3em;
}

input:focus, select:focus, button:focus, input:hover, select:hover, button:hover {
    border: solid 1px rebeccapurple;
}

.logo {
    height: 250px;
    margin: 0 auto;
    display: block;
}

.logo2 {
    height: 150px;
    margin: 0 auto;
    display: block;
}

.booking {
    display: flex;
}

form.booking {
    align-items: flex-end;
    flex-flow: row wrap;
}

div.booking {
    flex-direction: column;
    flex: 2 0 0;
    width: 100%;
}

div.confirmation {
    color: rebeccapurple !important;
}
